# .editorconfig
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

[*.{c,h,cpp,hpp,cc}]
indent_size = 4

[*.py]
indent_size = 4

[*.{yml,yaml,json,tf,tfvars}]
indent_size = 4

[*.sh]
indent_size = 4

[*.bat]
end_of_line = crlf